.homeWrap{
    padding: 50px;
    box-sizing: border-box;
    h2{
        text-align: center;
    }

    .appWrap{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}