.upMovie {
  width: 100%;
  position: relative;
}

.upMovie .upBackImg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.upMovie .upBackImg img {
  width: 100%;
  height: 90vh;
}

.upMovie .upInfo {
  position: absolute;
  top: 23%;
  left: 5%;
}

.upMovie .upInfo img {
  box-shadow: 5px 5px 10px #333;
}

.upMovie .upInfoText {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.upMovie .upInfoText .upTitle {
  margin-right: 30px;
  font-size: 30px;
  color: #fff;
}

.upMovie .upInfoText .upRelease {
  font-size: 2z0px;
  color: #fff;
}
